{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'netfix/css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>{% block title %}Netfix{% endblock %}</title>
        <style>
            /* Add any custom styles here */
            
        </style>
    </head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_company %}
        <header>
            <div>
                <a href="{% url 'users:home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Netflix Logo" style="height: 30px; width: auto;">
                </a>
            </div>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:competitors' %}">Competetors</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'services:control_panel' %}">Control Panel</a>
                            <a class="dropdown-item" href="{% url 'users:company_profile' %}">Profile </a>
                            <form method="post" action="{% url 'users:signout' %}">
                                {% csrf_token %}
                            <button class="dropdown-item" type="submit">SignOut</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        {% elif not user.is_company %}
        <header>
            <div>
                <a href="{% url 'users:home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Netflix Logo" style="height: 30px; width: auto;">
                </a>
            </div>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'services:all_services' %}">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:company_list' %}">Vendors</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'users:customer_profile' %}">Profile</a>
                            <form method="post" action="{% url 'users:signout' %}">
                                {% csrf_token %}
                            <button class="dropdown-item" type="submit">SignOut</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        {% endif %}
    {% else %}
    <header>
        <div>
            <a href="{% url 'users:home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Netflix Logo" style="height:5vw; width: auto;">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'users:signin' %}">SignIn</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:customer_signup' %}">SignUp</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'services:all_services' %}">All Services</a>
                        <a class="dropdown-item" href="{% url 'users:company_list' %}">Service Providers</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
