{% extends 'users/base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        color: #333;
    }

    header {
        background-color: #e50914;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    main {
        max-width: 20%;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #000000;
        font-size: xx-large;
        margin-bottom: 7%;
        font-family: 'Times New Roman', Times, serif;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 8px;
    }

    input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #e50914;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    div {
        margin-top: 16px;
        color: #000000;
    }
</style>
  <h2>Password Changed Successfully</h2>
  <p>Your password has been changed successfully. You can now log in with your new password.</p>
{% endblock %}
