{% extends 'users/base.html' %}

{% block title %}SignUp{% endblock %}

{% load static %}

{% block content %}
    <head>
        <style>
            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 16px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
            }
        </style>
        <link rel="stylesheet" href="{% static 'netfix/css/styles.css' %}">
    </head>
<body>
    <div class="user_cat">
        <a href="#" id="customer-url"><div id="customer-section">
            Customer
        </div></a>
        <a href="#" id="company-url"><div id="company-section">
            Company
        </div></a>
    </div>

    <main>
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="post" action="" class="signup_form">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="signup_button">Sign Up</button>
        </form>
    </main>

    {% load static %}
    <script src="{% static 'netfix/js/signup.js' %}"></script>

</body>

{% endblock %}
