{% extends 'users/base.html' %}

{% block title %}Control Panel{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>

    .taps_box {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 1%;
        margin-right: 4%;
        width:46%;
        text-align: center;
        display: inline-block;
    }

    .taps_box_2 {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 1%;
        width:46%;
        text-align: center;
        display: inline-block;
    }

    .box {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label, input, textarea, button {
        margin-bottom: 10px;
    }

    a {
        display: block;
        margin-top: 10px;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }

    header {
        background-color: #e50914;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #e50914;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .user-cat {
        background-color: #f0f0f0; 
        width: 100%;
        padding: 0;
        text-align: center;
    }

    #customer-section {
        background-color: #f0f0f0;
        width: 49%;
        display: inline-block;
        text-align: center;          
        margin: 0;
        margin-left: 0.5%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: .5%;
        padding-bottom: .5%;
        color: black;

    }

    #company-section {
        background-color: #f0f0f0; 
        width: 49%;
        display: inline-block;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 0.5%;
        padding-top: .5%;
        padding-bottom: .5%;
        color: black;
    }
</style>

<body>

    <div class="taps_box">
        <h2><a href="{% url 'services:create_service' %}">Create a New Service</a></h2>
    </div>
    <div class="taps_box_2">
        <h2><a href="{% url 'services:service_list' %}">Manage Your Services</a></h2>
    </div>
    <div class="box">
        <h2>Your Services</h2>
        {% for service in comapny_services %}
            <p>{{ service.name }} - {{ service.description }}</p>
        {% endfor %}
        <a href="{% url 'services:service_list' %}">See Full List</a>
    </div>

    <div class="box">
        <h2>New Requests</h2>
        {% for request in uncompleted_requests %}
            <p>{{ request.title }} - {{ request.description }}</p>
        {% endfor %}
        <a href="{% url 'services:control_panel' %}">See Full List</a>
    </div>

    <div class="box">
        <h2>Request History</h2>
        {% for request in historical_requests %}
            <p>{{ request.title }} - {{ request.description }}</p>
        {% endfor %}
        <a href="{% url 'services:control_panel' %}">See Full History</a>
    </div>

</body>
{% endblock %}





